body {
	display: flex;
	justify-content: center;
}

button {
	margin: 20px;
	padding: 10px;

	font-size: 20px;

	border-radius: 20px;
	border-color: grey;

	background-color: lightcyan;
}

button:hover {
	background-color: lightblue;
}
