html, body {
	margin: 0px;
}

table {
	width: 100%;
	border-spacing: 0px;
}

.head {
	position: sticky;
	top: 0px;
}

.head td {
	font-weight: bold;
}

td {
	width: 33%;
	text-align: center;
	font-size: 25px;
	background-color: lightblue;
	border: 1px solid black;
}